<DOCTYPE html>
    <header> Welcome </header>
    <body>
        <div class="container">
        <h1> <img id="molang-gif" scr="https://thumbs.gfycat.com/RaggedSickAlligatorsnappingturtle-small.gif"> </img>
        Homework 
             <img id="homework-gif" src="https://media.giphy.com/media/tlf4VFxlx2pag/giphy.gif">
            </img> 
            </h1>
            <ul>
                <table>
                    <tr>
                        <th>
                            <img id="motivation" src="https://media.giphy.com/media/pJu3xzRa2PzTq/giphy.gif"> </img>
                <li>
                    <input type="checkbox">
                    <a href="/todo/show">
                Essay</a>
                    <span class="time-estimate"> 2 hours </span>
                    
                </li>
                <li> 
                    <input type="checkbox">
                Project 
                    <span class="time-estimate"> 4 hours </span>
                </li>
                <li> 
                    <input type="checkbox">
                Reading 
                    <span class="time-estimate"> 5 hours </span>
                </li>
                <li> 
                    <input type="checkbox">
                Extra credit 
                    <span class="time-estimate"> 1 hour</span>
                </li>
                <li> 
                    <input type="checkbox">
                Notebook 
                    <span class="time-estimate"> 1 hour </span>
                </li>
            </ul>
            <div id="new_todo">
            <input id="input_item" type="text" placeholder="Add new to do..." >
            <input id="input_time" type="number" placeholder="Estimated time...">
            <input id="input_button" type="submit" value="Add"
            </div>
            <img id="molang-gif" src="https://thumbs.gfycat.com/RaggedSickAlligatorsnappingturtle-small.gif" width="100" height="75"> </img>
            </div>
                </th>
                <th>
            <iframe src="https://calendar.google.com/calendar/embed?src=q7ep3liclfvhb84u4v1rkvic68%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="750" height="525" frameborder="0" scrolling="no"></iframe>
                </th>
                </tr>
            </table>
            </body>
            