<DOCTYPE html>
    <body>
        <div class="container">
        <h1> 
            <img id="molang-gif" src="https://thumbs.gfycat.com/RaggedSickAlligatorsnappingturtle-small.gif"> </img>
        Homework 
             <img id="homework-gif" src="https://media.giphy.com/media/tlf4VFxlx2pag/giphy.gif">
            </h1>
            <ul>
                <table>
                    <tr>
                        <th> To Do List
                        </th>
                        <th> Calendar
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <img id="motivation" src="https://media.giphy.com/media/pJu3xzRa2PzTq/giphy.gif"> </img>
                <li>
                    <input type="checkbox">
                    <a href="show/1">
                Essay</a>
                    <span class="time-estimate"> 2 hours </span>
                    
                </li>
                <li> 
                    <input type="checkbox">
                    <a href="show/2">
                Project </a>
                    <span class="time-estimate"> 4 hours </span>
                </li>
                <li> 
                    <input type="checkbox">
                <a href="show/3"> 
                Reading</a> 
                    <span class="time-estimate"> 5 hours </span>
                </li>
                <li> 
                    <input type="checkbox">
                <a href="show/4">
                Extra credit </a>
                    <span class="time-estimate"> 1 hour</span>
                </li>
                <li> 
                    <input type="checkbox">
                <a href="show/5">Notebook</a>
                    <span class="time-estimate"> 1 hour </span>
                </li>
            </ul>
            <div id="new_todo">
            <input id="input_item" type="text" placeholder="Add new to do..." >
            <input id="input_time" type="number" placeholder="Estimated time...">
            <input id="input_button" type="submit" value="Add"
            </div>
         <img id="fighting-gif" src="https://media.giphy.com/media/CigTY61rf100U/giphy.gif"> </img>
            </div>
                </td>
                <td>
            <iframe src="https://calendar.google.com/calendar/embed?src=q7ep3liclfvhb84u4v1rkvic68%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="730" height="515" frameborder="0" scrolling="no"></iframe>
                </td>
                </tr>
            </table>
            </body>
            